# Folders
node_modules/
logs/
daemon/
.gemini/
.claude/
data/

# Keep folder, ignore contents
files/*
!files/.gitkeep
temp/*
!temp/.gitkeep

# Files App
RULES.md
MEMORY.md
SESSION.md
crons.json
state.json
web-history.json

# Files Others
GEMINI.md
.env
.DS_Store
*.exe
